* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
   display: flex;
   padding: 10px;
   align-items: center;
   justify-content: center;
}

header {
   display: flex;
   padding: 20px;
   background: rgb(226, 226, 226);
   align-items: center;
   justify-content: center;
}

header ul {
   display: flex;
   gap: 50px;
}

header ul li {
   list-style: none;
   display: flex;
   align-items: center;
}

header ul li a {
   text-decoration: none;
   font-size: 20px;
   color: black;
   font-weight: bold;
}

.id {
   border: none;
   margin-left: 8px;
   padding: 5px;
   outline: none;
   width: 50px;
}

main {
   display: flex;
   align-items: center;
   width: 80%;
   margin: auto;
   margin-top: 100px;
}

table {
   text-align: center;
   margin: auto;
   width: 80%;
}

table .id-table {
   width: 20px;
}

table th, td, tr {
   margin: 0px;
   border-bottom: 2px solid #eee;
   padding: 10px;
}

table .img-livro {
   padding: 0px;
   height: 40px;
}

table .img-acao {
   cursor: pointer;
   width: 40px;
}

table {
   width: 90%;
}








form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   width: 80%;
}

form input, button, select {
   width: 60%;
   margin-top: 25px;
   height: 40px;
   padding: 8px;
   outline: none;
   border: none;
   background: #e6e6e6;
}

form button {
   color: white;
   background: green;
   cursor: pointer;
}

.btnExcluir {
   background: red;
}

.btnEditar {
   background: yellow;
   color: black;
}
